/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg");
  background-repeat: no-repeat;
  background-size: auto 100vh;
  background-position: top right;
  font-family: verdana;
}

@media (max-width: 768px) {
  body {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home.svg");
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-position: top right;
  }
}

@media (max-width: 568px) {
  body {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/bg_home_sm.svg");
    background-repeat: no-repeat;
    background-size: 89.067vw 36.645vh;
    background-position: 5.333vw 58.564vh;
  }
}

.header {
  height: 100vh;
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home.svg");
  background-repeat: no-repeat;
  background-size: 38.946vw 69.440vh;
  background-position: 50.805vw 15.345vh;
}

@media (max-width: 768px) {
  .header {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home.svg");
    background-repeat: no-repeat;
    background-size: 81.067vw 45.734vh;
    background-position: 11.165vw 48.503vh;
  }
}

.header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 24px;
}

.header h1 .logo {
  padding-bottom: 24px;
  padding-left: 10.395%;
}

.header h1 .logo img {
  width: 218.06px;
  height: 40px;
}

@media (max-width: 568px) {
  .header h1 .logo img {
    margin-top: 8px;
    width: 130px;
    height: 24px;
  }
}

.header h1 .botton {
  width: 128px;
  height: 40px;
  margin-right: 10.176%;
  text-align: center;
}

.header h1 .botton a {
  display: block;
  font: normal normal normal 16px/24px Noto Sans TC;
  letter-spacing: 0px;
  color: #FFFFFF;
  background: #FF5D50 0% 0% no-repeat padding-box;
  border-radius: 22px;
  opacity: 1;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 32px;
  padding-right: 32px;
}

.main {
  padding-top: 188px;
  padding-left: 141px;
  width: 100%;
}

.main h2 {
  font: normal normal bold 18px/26px Noto Sans TC;
  letter-spacing: 0px;
  color: #56C4C5;
  opacity: 1;
}

.main h3 {
  font: normal normal bold 48px/70px Noto Sans TC;
  letter-spacing: 0px;
  color: #221E1F;
  opacity: 1;
}

.main h4 {
  font: normal normal normal 20px/29px Noto Sans TC;
  letter-spacing: 0px;
  color: #221E1F;
  opacity: 1;
}

@media (max-width: 768px) {
  .main {
    padding-top: 4.790vh;
    padding-left: 5.333vw;
  }
}

@media (max-width: 568px) {
  .main h2 {
    font: normal normal bold 16px/24px Noto Sans TC;
  }
  .main h3 {
    font: normal normal bold 32px/46px Noto Sans TC;
  }
  .main h4 {
    font: normal normal normal 16px/24px Noto Sans TC;
  }
}

.platform {
  margin-top: 100px;
  padding-left: 14.129vw;
  padding-right: 14.934vw;
}

.platform h5 {
  text-align: center;
  font: normal normal bold 32px/46px Noto Sans TC;
  letter-spacing: 0px;
  color: #221E1F;
  opacity: 1;
  padding-bottom: 48px;
}

.platform .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.platform .card img {
  width: 90px;
  height: 90px;
}

.platform .card h6 {
  text-align: center;
  font: normal normal bold 24px/35px Noto Sans TC;
  letter-spacing: 0px;
  color: #221E1F;
  opacity: 1;
  padding-top: 24px;
  padding-bottom: 24px;
}

.platform .card p {
  text-align: center;
  font: normal normal normal 16px/24px Noto Sans TC;
  letter-spacing: 0px;
  color: #747474;
  opacity: 1;
}

@media (max-width: 768px) {
  .platform .card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .platform li {
    width: 100%;
    margin-bottom: 3.883vh;
  }
}

@media (max-width: 568px) {
  .platform .platform {
    margin-top: 8.982vh;
    padding-left: 16.533vw;
    padding-right: 16.267vw;
  }
  .platform .card h5 {
    font: normal normal bold 28px/40px Noto Sans TC;
  }
  .platform .card h6 {
    font: normal normal bold 18px/26px Noto Sans TC;
  }
  .platform .card p {
    font: normal normal normal 16px/24px Noto Sans TC;
  }
}

.role {
  padding-top: 100px;
  padding-left: 10.176vw;
  padding-right: 10.176vw;
}

.role h7 {
  display: block;
  text-align: center;
  font: normal normal bold 32px/46px Noto Sans TC;
  letter-spacing: 0px;
  color: #221E1F;
  opacity: 1;
  padding-bottom: 16px;
}

.role p {
  text-align: center;
  font: normal normal normal 20px/29px Noto Sans TC;
  letter-spacing: 0px;
  color: #221E1F;
  opacity: 1;
  padding-bottom: 48px;
}

.role ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.role ul li {
  width: 23.897%;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  opacity: 1;
}

.role ul li img {
  width: auto;
  height: auto;
  border-radius: 12px 12px 0px 0px;
  opacity: 1;
  padding-bottom: 16px;
}

.role ul li h8 {
  display: block;
  text-align: center;
  font: normal normal bold 16px/24px Noto Sans TC;
  letter-spacing: 0px;
  color: #56C4C5;
  opacity: 1;
  padding-bottom: 16px;
}

.role ul li p {
  text-align: center;
  font: normal normal normal 16px/24px Noto Sans TC;
  letter-spacing: 0px;
  color: #221E1F;
  opacity: 1;
  padding-bottom: 24px;
}

@media (max-width: 768px) {
  .role ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .role ul li {
    width: 48.829%;
    margin-bottom: 3.892vh;
  }
}

@media (max-width: 568px) {
  .role {
    padding-top: 8.982vh;
    padding-left: 5.333vw;
    padding-right: 5.333vw;
  }
  .role h7 {
    font: normal normal bold 28px/40px Noto Sans TC;
  }
  .role p {
    font: normal normal normal 18px/26px Noto Sans TC;
  }
  .role ul li {
    margin: 1.796vh auto;
    width: 69.333%;
  }
}

.function {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-left: 10%;
  padding-right: 10.178%;
  gap: 13.7%;
}

.function .Ffirst ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 507px;
}

.function .Ffirst ul li {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  width: 45.365%;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  opacity: 1;
  margin-bottom: 28px;
  padding-top: 32px;
  padding-bottom: 48px;
  padding-left: 32px;
  padding-right: 32px;
}

.function .Ffirst ul li img {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  width: 39.130%;
}

.function .Ffirst ul li h9 {
  display: block;
  font: normal normal bold 18px/26px Noto Sans TC;
  letter-spacing: 0px;
  color: #221E1F;
  opacity: 1;
  padding-top: 24px;
  padding-bottom: 16px;
}

.function .Ffirst ul li p {
  font: normal normal normal 16px/24px Noto Sans TC;
  letter-spacing: 0px;
  color: #221E1F;
  opacity: 1;
}

.function .Fsecond {
  padding-top: 165px;
}

.function .Fsecond h10 {
  display: block;
  font: normal normal bold 32px/46px Noto Sans TC;
  letter-spacing: 0px;
  color: #221E1F;
  opacity: 1;
  padding-bottom: 16px;
}

.function .Fsecond p {
  font: normal normal normal 18px/26px Noto Sans TC;
  letter-spacing: 0px;
  color: #221E1F;
  opacity: 1;
  padding-bottom: 36px;
}

.function .Fsecond a {
  display: inline-block;
  text-align: center;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  background: #56C4C5 0% 0% no-repeat padding-box;
  border: 1px solid #56C4C5;
  border-radius: 27px;
  opacity: 1;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 32px;
  padding-right: 32px;
}

@media (max-width: 768px) {
  .function {
    padding-top: 0vh;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .function .Ffirst {
    width: 100%;
  }
  .function .Ffirst ul {
    margin: 0 auto;
  }
  .function .Fsecond {
    padding-top: 4.192vh;
    padding-bottom: 4.79vh;
    padding-right: 0vw;
    margin: 0 auto;
    text-align: center;
  }
  .function .Fsecond h10 {
    font: normal normal bold 28px/40px Noto Sans TC;
  }
  .function .Fsecond p {
    font: normal normal normal 16px/24px Noto Sans TC;
  }
}

@media (max-width: 568px) {
  .function .Ffirst ul li {
    width: 61.333%;
    margin-top: 0;
    margin-left: 14.1333vw;
    margin-right: 13.8667vw;
  }
}

.comment {
  padding-top: 72px;
}

.comment p {
  text-align: center;
  font: normal normal bold 32px/46px Noto Sans TC;
  letter-spacing: 0px;
  color: #221E1F;
  opacity: 1;
  padding-bottom: 104px;
}

.comment ul {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 79.649vw;
}

.comment ul li {
  width: 32.353%;
  padding-top: 48px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  border-radius: 12px;
  opacity: 1;
  position: relative;
}

.comment ul li .user {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -50px;
  left: 32px;
  border-radius: 40px;
}

.comment ul li p {
  text-align: left;
  font: normal normal normal 16px/24px Noto Sans TC;
  letter-spacing: 0px;
  color: #221E1F;
  opacity: 1;
  padding-bottom: 24px;
  border-bottom: 1px solid #DDDDDD;
}

.comment ul li h11 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  font: normal normal bold 16px/24px Noto Sans TC;
  letter-spacing: 0px;
  color: #221E1F;
  opacity: 1;
  padding-bottom: 8px;
  padding-top: 24px;
}

.comment ul li .job {
  display: inline-block;
  text-align: left;
  font: normal normal normal 16px/24px Noto Sans TC;
  letter-spacing: 0px;
  color: #221E1F;
  opacity: 1;
  border: none;
}

.comment ul li .star {
  float: right;
}

@media (max-width: 768px) {
  .comment p {
    padding-bottom: 8.982vh;
  }
  .comment ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .comment ul li {
    width: 100%;
    margin: 4.192vh 0;
  }
}

@media (max-width: 568px) {
  .comment p {
    font: normal normal bold 28px/40px Noto Sans TC;
  }
  .comment ul li p {
    font: normal normal normal 16px/24px Noto Sans TC;
  }
  .comment ul li h11 {
    font: normal normal bold 16px/24px Noto Sans TC;
  }
  .comment ul li .job {
    font: normal normal normal 16px/24px Noto Sans TC;
  }
}

.footer {
  background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/home_footer.svg);
  background-repeat: no-repeat;
  background-size: 100vw auto;
  margin-top: 134px;
  padding-top: 260px;
  padding-bottom: 128px;
}

@media (max-width: 768px) {
  .footer {
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/f70f00178a7f0baa31e9c01634303d8562cfe93a/chatTalker_images/footer_sm.svg);
  }
}

.footer p {
  display: block;
  text-align: center;
  font: normal normal bold 32px/46px Noto Sans TC;
  letter-spacing: 0px;
  color: #221E1F;
  opacity: 1;
  padding-bottom: 60px;
}

.footer a {
  margin: 0 auto;
  display: block;
  text-align: center;
  letter-spacing: 0px;
  color: #FFFFFF;
  background: #56C4C5 0% 0% no-repeat padding-box;
  border: 1px solid #56C4C5;
  border-radius: 27px;
  opacity: 1;
  width: 136px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 32px;
  padding-right: 32px;
}

@media (max-width: 568px) {
  .footer p {
    padding-bottom: 3.593vh;
    font: normal normal bold 24px/35px Noto Sans TC;
  }
}

.bottom p {
  text-align: center;
  font: normal normal normal 16px/24px Noto Sans TC;
  letter-spacing: 0px;
  color: #221E1F;
  opacity: 1;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  padding-top: 16px;
  padding-bottom: 16px;
}
/*# sourceMappingURL=all.css.map */